@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  overflow: hidden;
  height: 100%;
}

html {
  height: 100%;
  margin: 0;
  overflow: hidden;
}

input:focus,
textarea:focus {
  outline: none;
  box-shadow: none;
  border-color: inherit; /* 선택 사항: border 변경 방지 */
}

.safe-area {
  padding-bottom: env(safe-area-inset-bottom);
  padding-top: env(safe-area-inset-top);
  padding-left: env(safe-area-inset-left);
  padding-right: env(safe-area-inset-right);
}

.embla__container {
  /* GPU 가속을 위해 브라우저에 미리 알림 */
  will-change: transform;
  /* 3D 변환을 적용하여 하드웨어 가속을 유도 */
  transform: translate3d(0, 0, 0);
}

.carousel-slide {
  transition: transform 0.5s ease-in-out;
}